
$primary-color: #FF6060;
$secondary-color: #00BFFF;
$background-color: #F5F5F5;
$text-color: #333333;

$primary-gradient: linear-gradient(90deg, #FFFFFF00 0%, #0A0A0A00 0%, #04040469 41%, #000000 100%);


$primary-font:  'Montserrat', sans-serif;

