
$primary-color: #FF6060;
$background-color: #FFFFFF;

$primary-gradient: linear-gradient(90deg, #FFFFFF00 0%, #0A0A0A00 0%, #04040469 41%, #000000 100%);


$primary-font:  'Montserrat', sans-serif;

